[Desktop Entry]
Name=%DISPLAYNAME%
Exec=ubuntu-html5-app-launcher $@ --www=www
Icon=%DISPLAYNAME%.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
