[Desktop Entry]
Name=%DISPLAYNAME%
Type=Application
Icon=app.png
Exec=webapp-container --enable-back-forward --store-session-cookies --webappUrlPatterns=https?://m.%DISPLAYNAME%.com/* http://m.%DISPLAYNAME%.com
Terminal=false
X-Ubuntu-Touch=true
