[Desktop Entry]
Name=%ProjectName%
Type=Application
Icon=app.png
Exec=webapp-container --enable-back-forward --store-session cookies --webappUrlPatterns=https?://m.%ProjectName%.com/* http://m.%ProjectName%.com
Terminal=false
X-Ubuntu-Touch=true
