# Three simple steps to your final webapp:
# - update the url
# - add a 128x128 app.png icon 
# - build the package with "click build ."
# - publish via https://myapps.developer.ubuntu.com/dev/click-apps/
[Desktop Entry]
Name=%DISPLAYNAME%
Type=Application
Icon=app.png
Exec=webapp-container --enable-back-forward --store-session cookies --webappUrlPatterns=https?://m.%DISPLAYNAME%.com/* http://m.%DISPLAYNAME%.com
Terminal=false
X-Ubuntu-Touch=true
