[Desktop Entry]
Name=%ClickHookName%
Comment=webapp for %ProjectName%
Type=Application
Icon=%ProjectName%.png
Exec=webapp-container --enable-back-forward --store-session-cookies --webappUrlPatterns=https?://m.%ProjectName%.com/* http://m.%ProjectName%.com %u
Terminal=false
X-Ubuntu-Touch=true
