[Desktop Entry]
Name=%ClickHookName%
Exec=/usr/bin/qmlscene $@ /usr/share/%ProjectName%/%ProjectName%.qml
Icon=%ProjectName%.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
