[Desktop Entry]
Name=%DISPLAYNAME%
Exec=/usr/bin/qmlscene $@ /usr/share/%DISPLAYNAME%/%DISPLAYNAME%.qml
Icon=%DISPLAYNAME%.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
