[Desktop Entry]
Name=%DISPLAYNAME%
Exec=/usr/bin/ubuntu-html5-app-launcher $@ --www=/usr/share/%DISPLAYNAME%/index.html
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
