[Desktop Entry]
Name=%ClickHookName%
Exec=qmlscene $@ %ClickHookName%/Main.qml
Icon=%ClickHookName%/%ClickHookName%.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
