[Desktop Entry]
Name=%ClickHookName%
Exec=qmlscene $@ %ClickHookName%/main.qml
Icon=%ClickHookName%/%ClickHookName%.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
