{
    "name": "com.ubuntu.developer.username.myapp",
    "description": "description of myapp",
    "framework": "ubuntu-sdk-13.10",
    "architecture": "all",
    "title": "myapp",
    "hooks": {
        "myapp": {
            "apparmor": "myapp.json",
            "desktop": "myapp.desktop"
        }
    },
    "version": "0.1"
}
