Source: qtcreator-plugin-ubuntu
Section: devel
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               libqt5script5 (>= 5.0.2~),
               libqt5scripttools5 (>= 5.0.2~),
               libqt5webkit5-dev,
               libqt5widgets5 (>= 5.0.2~),
               libsqlite3-dev,
               qt5-qmake (>= 5.0.2~),
               qtcreator-dev (>= 2.8.1),
               qtdeclarative5-dev-tools (>= 5.0.2~),
               qtdeclarative5-private-dev (>= 5.0.2~),
               qtquick1-5-dev (>= 5.0.2~),
               qtquick1-5-dev-tools (>= 5.0.2~),
               qtscript5-private-dev (>= 5.0.2~),
               qttools5-dev-tools (>= 5.0.2~),
               qtxmlpatterns5-dev-tools,
               libudev-dev,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/qtcreator-plugin-ubuntu
# If you aren't a member of ~ubuntu-sdk-team but need to upload packaging changes,
# just go ahead. ~ubuntu-sdk-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~ubuntu-sdk-team/qtcreator-plugin-ubuntu/trunk
XS-Testsuite: autopkgtest

Package: qtcreator-plugin-ubuntu
Architecture: any
Depends: android-tools-adb,
         click,
         click-dev,
         click-doc,
         devscripts,
         dh-make,
         libqt5scripttools5,
         qtcreator (>= 2.8.1),
         qtcreator-plugin-ubuntu-common,
         ubuntu-ui-toolkit-doc,
         ubuntu-ui-toolkit-examples,
         rsync,
         ${misc:Depends},
Recommends: ubuntu-sdk
Suggests: click-reviewers-tools
Description: Ubuntu plugin for Qt Creator IDE
 Qt Creator is a new, lightweight, cross-platform integrated development
 environment (IDE) designed to make development with the Qt application
 framework even faster and easier.
 .
 This package contains the Ubuntu plugin for Qt Creator, providing
 deeper integration for developing applications for Ubuntu using the
 Ubuntu UI Toolkit. It also introduces an Ubuntu themed welcome
 screen.

Package: qtcreator-plugin-ubuntu-common
Architecture: all
Depends: ${misc:Depends},
Recommends: qtcreator-plugin-ubuntu
Replaces: qtcreator-plugin-ubuntu (<= 2.7.1-0ubuntu4),
Conflicts: qtcreator-plugin-ubuntu (<= 2.7.1-0ubuntu4),
Description: Common data files for the Ubuntu plugin for Qt Creator IDE
 Qt Creator is a new, lightweight, cross-platform integrated development
 environment (IDE) designed to make development with the Qt application
 framework even faster and easier.
 .
 This package contains the runtime data files for the Ubuntu plugin for
 Qt Creator IDE.

