#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export CFLAGS := $(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
export CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed
export QT_SELECT := qt5

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# -----------------------------------

%:
	dh $@ --fail-missing --parallel

override_dh_auto_configure:
	# Crude hack, the project needs to be fixed to not require hard coded path name
	mkdir -p builddir
	rm -rf ../ubuntu
	mv ../qtcreator-plugin-ubuntu-* ../ubuntu
	dh_auto_configure -- IDE_LIBRARY_BASENAME=lib/$(DEB_HOST_MULTIARCH)

override_dh_auto_test:
	LD_LIBRARY_PATH=/usr/lib/$(DEB_HOST_MULTIARCH)/qtcreator:/usr/lib/$(DEB_HOST_MULTIARCH)/qtcreator/plugins/QtProject make check

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/tmp/usr/bin
	ln -s /usr/bin/qtcreator debian/tmp/usr/bin/ubuntu-sdk
	cp -r $(CURDIR)/share $(CURDIR)/debian/tmp/usr
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/python3/dist-packages/qtcreator_plugin_ubuntu
	cp -r $(CURDIR)/tests/autopilot/qtcreator_plugin_ubuntu/* $(CURDIR)/debian/tmp/usr/lib/python3/dist-packages/qtcreator_plugin_ubuntu
	mkdir -p $(CURDIR)/debian/tmp/usr/share/polkit-1/actions
	cp $(CURDIR)/tests/com.ubuntu.pkexec.ubuntu-sdk-autopilot.policy  $(CURDIR)/debian/tmp/usr/share/polkit-1/actions/
	dh_auto_install --destdir=debian/tmp/usr 
	rm -rfv debian/tmp/usr/usr/tests


override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib/$(DEB_HOST_MULTIARCH)/qtcreator:/usr/lib/$(DEB_HOST_MULTIARCH)/qtcreator/plugins/QtProject
