#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

ifneq (,$(filter $(DEB_HOST_ARCH),armhf))
    export GCC47 := "QMAKE_CXX=g++-4.7"
else
    export GCC47 :=
endif

# -----------------------------------

%:
	dh $@ --fail-missing

override_dh_auto_configure:
	mkdir -p builddir
	dh_auto_configure -- $(CURDIR) $(GCC47) IDE_LIBRARY_BASENAME=lib/$(DEB_HOST_MULTIARCH) 

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/tmp/usr/bin
	ln -s /usr/bin/qtcreator debian/tmp/usr/bin/ubuntu-sdk
	cp -r $(CURDIR)/share $(CURDIR)/debian/tmp/usr
	dh_auto_install --destdir=debian/tmp/usr

override_dh_shlibdeps:
	dh_shlibdeps -XlibUbuntu.so -XlibCordovaUbuntuProjectManager.so
