[Desktop Entry]
Name=%DISPLAYNAME%
Comment=
Exec=/usr/bin/qmlscene $@ /usr/share/%DISPLAYNAME%/%DISPLAYNAME%.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
