[Desktop Entry]
Name=%ClickHookName%
Exec=%ClickHookName%
Icon=%ClickHookName%/%ClickHookName%.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
